<div>
    <h2>Create page from excel</h2>
    <form action=${currentPage.path}.createPageFromExcel.json enctype="multipart/form-data" method="post">
        <fieldset>
            <label for="fileUpload">Upload excel file (only .xls)</label>
            <input id="fileUpload" name="uploadedFile" type="file"/>
        </fieldset>
        <fieldset>
            <button type="submit">Create pages!</button>
        </fieldset>
    </form>
</div>
<style>
    fieldSet {
    border: none;
    }
    div {
    text-align: center;
    }
</style>